Cerberus==0.7.2
-e git+https://github.com/nicolaiarocci/eve.git@a8a6cf6e3f50c4b8113728c95607ce3c1c970f4f#egg=Eve-origin/develop
Events==0.2.1
Flask==0.10.1
Flask-PyMongo==0.3.0
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.9.6
bcrypt==1.0.2
cffi==0.8.6
gunicorn==19.1.1
itsdangerous==0.24
pycparser==2.10
pymongo==2.7.1
simplejson==3.5.2
wsgiref==0.1.2
